In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data = pd.read_csv("drug200.csv")

In [3]:
data.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [39]:
set(data.Drug)

{'drugA', 'drugB', 'drugC', 'drugX', 'drugY'}

In [4]:
data.columns

Index(['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K', 'Drug'], dtype='object')

In [5]:
X = data[['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K']]

In [6]:
y = data['Drug']

In [7]:
X

     Age Sex      BP Cholesterol  Na_to_K
0     23   F    HIGH        HIGH   25.355
1     47   M     LOW        HIGH   13.093
2     47   M     LOW        HIGH   10.114
3     28   F  NORMAL        HIGH    7.798
4     61   F     LOW        HIGH   18.043
..   ...  ..     ...         ...      ...
195   56   F     LOW        HIGH   11.567
196   16   M     LOW        HIGH   12.006
197   52   M  NORMAL        HIGH    9.894
198   23   M  NORMAL      NORMAL   14.020
199   40   F     LOW      NORMAL   11.349

[200 rows x 5 columns]

In [8]:
from sklearn.preprocessing import OneHotEncoder

In [9]:
ohe = OneHotEncoder()

In [15]:
X[['Female','Male']]  = ohe.fit_transform(data[['Sex']]).toarray()

In [16]:
X

     Age Sex      BP Cholesterol  Na_to_K  Female  Male
0     23   F    HIGH        HIGH   25.355     1.0   0.0
1     47   M     LOW        HIGH   13.093     0.0   1.0
2     47   M     LOW        HIGH   10.114     0.0   1.0
3     28   F  NORMAL        HIGH    7.798     1.0   0.0
4     61   F     LOW        HIGH   18.043     1.0   0.0
..   ...  ..     ...         ...      ...     ...   ...
195   56   F     LOW        HIGH   11.567     1.0   0.0
196   16   M     LOW        HIGH   12.006     0.0   1.0
197   52   M  NORMAL        HIGH    9.894     0.0   1.0
198   23   M  NORMAL      NORMAL   14.020     0.0   1.0
199   40   F     LOW      NORMAL   11.349     1.0   0.0

[200 rows x 7 columns]

In [22]:
map_bp = {'LOW':1, 'NORMAL':2, 'HIGH': 3}
X['BP'] = X['BP'].map(map_bp)

In [23]:
map_CHEL = {'NORMAL':1, 'HIGH': 2}
X['Cholesterol'] = X['Cholesterol'].map(map_CHEL)

In [24]:
X

     Age Sex  BP  Cholesterol  Na_to_K  Female  Male
0     23   F   3            2   25.355     1.0   0.0
1     47   M   1            2   13.093     0.0   1.0
2     47   M   1            2   10.114     0.0   1.0
3     28   F   2            2    7.798     1.0   0.0
4     61   F   1            2   18.043     1.0   0.0
..   ...  ..  ..          ...      ...     ...   ...
195   56   F   1            2   11.567     1.0   0.0
196   16   M   1            2   12.006     0.0   1.0
197   52   M   2            2    9.894     0.0   1.0
198   23   M   2            1   14.020     0.0   1.0
199   40   F   1            1   11.349     1.0   0.0

[200 rows x 7 columns]

In [26]:
X.drop('Sex', inplace = True, axis = 1)

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size=0.2)

In [31]:
xtrain.shape

(160, 6)

In [32]:
xtest.shape

(40, 6)

In [33]:
from sklearn.tree import DecisionTreeClassifier

In [34]:
cls = DecisionTreeClassifier(criterion="entropy")

In [35]:
cls.fit(xtrain,ytrain)

DecisionTreeClassifier(criterion='entropy')

In [36]:
ypred = cls.predict(xtest)

In [37]:
from sklearn.metrics import accuracy_score

In [38]:
accuracy_score(ypred,ytest)

0.975

# Random Forest

In [40]:
from sklearn.ensemble import RandomForestClassifier

In [41]:
rf_clf = RandomForestClassifier(n_estimators=100)
rf_clf.fit(xtrain, ytrain)
ypred = rf_clf.predict(xtest)
accuracy_score(ypred, ytest)

0.975

# xgboost

In [42]:
# automatically assign number of trees as per complexity

In [47]:
from xgboost import XGBClassifier

In [44]:
ytrain

96     drugY
169    drugA
109    drugY
182    drugX
40     drugY
       ...
129    drugX
20     drugY
155    drugC
123    drugY
160    drugX
Name: Drug, Length: 160, dtype: object

In [45]:
from sklearn.preprocessing import LabelEncoder

In [46]:
le = LabelEncoder()

In [48]:
ytrain = le.fit_transform(ytrain)
ytest = le.fit_transform(ytest)

In [49]:
ytrain

array([4, 0, 4, 3, 4, 4, 3, 4, 3, 0, 3, 4, 4, 1, 3, 2, 4, 4, 4, 3, 4, 0,
       3, 4, 4, 4, 0, 3, 4, 3, 1, 2, 4, 4, 3, 1, 3, 0, 3, 4, 0, 4, 3, 4,
       4, 3, 2, 4, 0, 3, 4, 4, 1, 4, 2, 3, 4, 4, 4, 4, 3, 4, 4, 3, 4, 4,
       3, 4, 4, 2, 3, 4, 2, 0, 0, 1, 3, 0, 4, 3, 4, 3, 3, 4, 3, 3, 4, 4,
       1, 3, 0, 4, 3, 0, 3, 2, 4, 3, 0, 0, 4, 4, 1, 0, 3, 4, 3, 4, 2, 4,
       0, 3, 4, 4, 3, 2, 4, 1, 4, 3, 2, 1, 2, 4, 3, 2, 1, 4, 3, 4, 3, 4,
       2, 0, 3, 4, 0, 3, 4, 4, 4, 1, 4, 4, 4, 4, 3, 3, 4, 4, 4, 4, 4, 4,
       4, 3, 4, 2, 4, 3])

In [50]:
ytest

array([1, 4, 4, 3, 4, 4, 4, 4, 4, 4, 4, 3, 3, 0, 4, 4, 4, 1, 2, 1, 0, 0,
       3, 3, 4, 4, 2, 1, 4, 3, 3, 1, 0, 4, 0, 3, 3, 4, 3, 4])

In [51]:
xgb = XGBClassifier()

In [52]:
xgb.fit(xtrain, ytrain)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, objective='multi:softprob',
              predictor='auto', random_state=0, reg_alpha=0, ...)

In [53]:
ypred = xgb.predict(xtest)

In [54]:
accuracy_score(ypred, ytest)

0.975

# KNN

In [55]:
from sklearn.neighbors import KNeighborsClassifier

In [56]:
knn = KNeighborsClassifier(n_neighbors=3)

In [57]:
knn.fit(xtrain,ytrain)

KNeighborsClassifier(n_neighbors=3)

In [58]:
ypred = knn.predict(xtest)

C:\Users\thewa\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [59]:
accuracy_score(ypred,ytest)

0.725