In [11]:
set1={1,2,3,4}
set2=set1.copy()#shallow copy
set1.add(5)
print(set1,set2)

{1, 2, 3, 4, 5} {1, 2, 3, 4}

In [13]:
set3=set1#deep copy
set1.add(6)
print(set1,set3)

{1, 2, 3, 4, 5, 6} {1, 2, 3, 4, 5, 6}

## Dictionary

In [15]:
dct_user_1={"id":101,"name":"Mainak","email":"mainakshaw58@gmail.com"}

In [17]:
#Data stored in key value pairs
print(dct_user_1["id"])
print(dct_user_1["name"])
print(dct_user_1["email"])

101
Mainak
mainakshaw58@gmail.com

In [19]:
print(dct_user_1)

{'id': 101, 'name': 'Mainak', 'email': 'mainakshaw58@gmail.com'}

In [21]:
print(type(dct_user_1))

<class 'dict'>

In [23]:
#Ordered,vales changeable and duplicate keys not allowed in dictionary

In [26]:
student1={"name":"Mainak","id":23,"address":"Kolkata"}
student1["address"]="Bangalore"
print(student1)

{'name': 'Mainak', 'id': 23, 'address': 'Bangalore'}

In [27]:
dir(type(student1))

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [28]:
#adding new pair
student1["mobile"]=8583992628
print(student1)

{'name': 'Mainak', 'id': 23, 'address': 'Bangalore', 'mobile': 8583992628}

In [30]:
#update function(can be used to update in multiple values)
student1.update({"age":"45","id":10})
print(student1)

{'name': 'Mainak', 'id': 10, 'address': 'Bangalore', 'mobile': 8583992628, 'age': '45'}

In [33]:
#no duplicate keys allowed
student1={"name":"Mainak","id":23,"address":"Kolkata","name":"Kohinoor"}
print(student1) #latest value for "name" provided

{'name': 'Kohinoor', 'id': 23, 'address': 'Kolkata'}

In [38]:
## HW:-Take all possible datatypes as keys
dct_1={(1,2):"hello"} #
print(dct_1)

{(1, 2): 'hello'}

In [37]:
dct1={[1,2]:"hello"}

TypeError: unhashable type: 'list'

In [44]:
student1={"name":"Mainak","id":23,"address":"Kolkata"}
print(student1.keys(),type(student1.keys))
print(student1.values(),type(student1.values))
print(student1.items(),type(student1.items))

dict_keys(['name', 'id', 'address']) <class 'builtin_function_or_method'>
dict_values(['Mainak', 23, 'Kolkata']) <class 'builtin_function_or_method'>
dict_items([('name', 'Mainak'), ('id', 23), ('address', 'Kolkata')]) <class 'builtin_function_or_method'>

In [46]:
student=dict([["name","Mainak"],["roll",34],["address","kolkata"]])
print(student)

{'name': 'Mainak', 'roll': 34, 'address': 'kolkata'}

In [47]:
student=dict((("name","Mainak"),("roll",34),("address","kolkata")))
print(student)

{'name': 'Mainak', 'roll': 34, 'address': 'kolkata'}

In [48]:
#del keyword (also used to delete elements in lists)
del student["address"]
print(student)

{'name': 'Mainak', 'roll': 34}

In [50]:
#pop() function
student=dict((("name","Mainak"),("roll",34),("address","kolkata")))
print(student.pop("roll"))
print(student)

34
{'name': 'Mainak', 'address': 'kolkata'}

## Conditional Statements

In [53]:
a=int(input("Enter the value of 'a': "))
if(a%2==0):
    print(f"{a} is even.")
else:
    print(f"{a} is odd.")

Enter the value of 'a':  15

15 is odd.

In [58]:
a=float(input("Enter the value of 'a': "))
if(a>5):
    print(f"{a} is greater than 5.")
elif(a<5):
    print(f"{a} is less than 5.")
else:
    print(f"{a} is equal to 5.")

Enter the value of 'a':  6

6.0 is greater than 5.

In [59]:
a=4
b=4
print(a==b)#equality operator

True

In [ ]:
#comparison operators <,>,<=,>=,!=,==

In [60]:
a=4
b=4
c=5
print(a!=b)#not equality operator
print(a!=c)#not equality operator

False
True

In [62]:
#Watch indentation gaps in if-else statements (to create blocks of code)

In [63]:
#and and or operator for multiple conditions in the same if block

In [64]:
a=3
b=4
c=5
if(a>=b and a>=c):
    print(a)
elif(b>=a and b>= c):
    print(b)
else:
    print(c)

5

In [65]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [66]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [67]:
print(not True)
print(not False)

False
True

In [68]:
dict1={"1":2}
dict1[2]

KeyError: 2