In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [55]:
data = pd.read_csv("credit_customers (1).csv")

In [56]:
data.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,none,...,real estate,67.0,none,own,2.0,skilled,1.0,yes,yes,good
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,none,...,real estate,22.0,none,own,1.0,skilled,1.0,none,yes,bad
2,no checking,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,male single,none,...,real estate,49.0,none,own,1.0,unskilled resident,2.0,none,yes,good
3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,guarantor,...,life insurance,45.0,none,for free,1.0,skilled,2.0,none,yes,good
4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,none,...,no known property,53.0,none,for free,2.0,skilled,2.0,none,yes,bad

In [57]:
data.isnull().sum()

checking_status           0
duration                  0
credit_history            0
purpose                   0
credit_amount             0
savings_status            0
employment                0
installment_commitment    0
personal_status           0
other_parties             0
residence_since           0
property_magnitude        0
age                       0
other_payment_plans       0
housing                   0
existing_credits          0
job                       0
num_dependents            0
own_telephone             0
foreign_worker            0
class                     0
dtype: int64

In [58]:
data.drop('checking_status',axis = 1 , inplace =True)

In [59]:
data

,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,none,4.0,real estate,67.0,none,own,2.0,skilled,1.0,yes,yes,good
1,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,none,2.0,real estate,22.0,none,own,1.0,skilled,1.0,none,yes,bad
2,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,male single,none,3.0,real estate,49.0,none,own,1.0,unskilled resident,2.0,none,yes,good
3,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,guarantor,4.0,life insurance,45.0,none,for free,1.0,skilled,2.0,none,yes,good
4,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,none,4.0,no known property,53.0,none,for free,2.0,skilled,2.0,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12.0,existing paid,furniture/equipment,1736.0,<100,4<=X<7,3.0,female div/dep/mar,none,4.0,real estate,31.0,none,own,1.0,unskilled resident,1.0,none,yes,good
996,30.0,existing paid,used car,3857.0,<100,1<=X<4,4.0,male div/sep,none,4.0,life insurance,40.0,none,own,1.0,high qualif/self emp/mgmt,1.0,yes,yes,good
997,12.0,existing paid,radio/tv,804.0,<100,>=7,4.0,male single,none,4.0,car,38.0,none,own,1.0,skilled,1.0,none,yes,good
998,45.0,existing paid,radio/tv,1845.0,<100,1<=X<4,4.0,male single,none,4.0,no known property,23.0,none,for free,1.0,skilled,1.0,yes,yes,bad
999,45.0,critical/other existing credit,used car,4576.0,100<=X<500,unemployed,3.0,male single,none,4.0,car,27.0,none,own,1.0,skilled,1.0,none,yes,good

In [60]:
from sklearn.preprocessing import OneHotEncoder

In [61]:
ohe = OneHotEncoder()

In [62]:
set(data['credit_history'])

{'all paid',
 'critical/other existing credit',
 'delayed previously',
 'existing paid',
 'no credits/all paid'}

In [63]:
data[['all paid',
 'critical/other existing credit',
 'delayed previously',
 'existing paid',
 'no credits/all paid']] = ohe.fit_transform(data[['credit_history']]).toarray()

In [64]:
data

,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,...,job,num_dependents,own_telephone,foreign_worker,class,all paid,critical/other existing credit,delayed previously,existing paid,no credits/all paid
0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,none,4.0,...,skilled,1.0,yes,yes,good,0.0,1.0,0.0,0.0,0.0
1,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,none,2.0,...,skilled,1.0,none,yes,bad,0.0,0.0,0.0,1.0,0.0
2,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,male single,none,3.0,...,unskilled resident,2.0,none,yes,good,0.0,1.0,0.0,0.0,0.0
3,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,guarantor,4.0,...,skilled,2.0,none,yes,good,0.0,0.0,0.0,1.0,0.0
4,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,none,4.0,...,skilled,2.0,none,yes,bad,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12.0,existing paid,furniture/equipment,1736.0,<100,4<=X<7,3.0,female div/dep/mar,none,4.0,...,unskilled resident,1.0,none,yes,good,0.0,0.0,0.0,1.0,0.0
996,30.0,existing paid,used car,3857.0,<100,1<=X<4,4.0,male div/sep,none,4.0,...,high qualif/self emp/mgmt,1.0,yes,yes,good,0.0,0.0,0.0,1.0,0.0
997,12.0,existing paid,radio/tv,804.0,<100,>=7,4.0,male single,none,4.0,...,skilled,1.0,none,yes,good,0.0,0.0,0.0,1.0,0.0
998,45.0,existing paid,radio/tv,1845.0,<100,1<=X<4,4.0,male single,none,4.0,...,skilled,1.0,yes,yes,bad,0.0,0.0,0.0,1.0,0.0
999,45.0,critical/other existing credit,used car,4576.0,100<=X<500,unemployed,3.0,male single,none,4.0,...,skilled,1.0,none,yes,good,0.0,1.0,0.0,0.0,0.0

In [65]:
data.drop('credit_history', axis = 1, inplace = True)

In [66]:
data

,duration,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,...,job,num_dependents,own_telephone,foreign_worker,class,all paid,critical/other existing credit,delayed previously,existing paid,no credits/all paid
0,6.0,radio/tv,1169.0,no known savings,>=7,4.0,male single,none,4.0,real estate,...,skilled,1.0,yes,yes,good,0.0,1.0,0.0,0.0,0.0
1,48.0,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,none,2.0,real estate,...,skilled,1.0,none,yes,bad,0.0,0.0,0.0,1.0,0.0
2,12.0,education,2096.0,<100,4<=X<7,2.0,male single,none,3.0,real estate,...,unskilled resident,2.0,none,yes,good,0.0,1.0,0.0,0.0,0.0
3,42.0,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,guarantor,4.0,life insurance,...,skilled,2.0,none,yes,good,0.0,0.0,0.0,1.0,0.0
4,24.0,new car,4870.0,<100,1<=X<4,3.0,male single,none,4.0,no known property,...,skilled,2.0,none,yes,bad,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12.0,furniture/equipment,1736.0,<100,4<=X<7,3.0,female div/dep/mar,none,4.0,real estate,...,unskilled resident,1.0,none,yes,good,0.0,0.0,0.0,1.0,0.0
996,30.0,used car,3857.0,<100,1<=X<4,4.0,male div/sep,none,4.0,life insurance,...,high qualif/self emp/mgmt,1.0,yes,yes,good,0.0,0.0,0.0,1.0,0.0
997,12.0,radio/tv,804.0,<100,>=7,4.0,male single,none,4.0,car,...,skilled,1.0,none,yes,good,0.0,0.0,0.0,1.0,0.0
998,45.0,radio/tv,1845.0,<100,1<=X<4,4.0,male single,none,4.0,no known property,...,skilled,1.0,yes,yes,bad,0.0,0.0,0.0,1.0,0.0
999,45.0,used car,4576.0,100<=X<500,unemployed,3.0,male single,none,4.0,car,...,skilled,1.0,none,yes,good,0.0,1.0,0.0,0.0,0.0

In [67]:
set(data['purpose'])

{'business',
 'domestic appliance',
 'education',
 'furniture/equipment',
 'new car',
 'other',
 'radio/tv',
 'repairs',
 'retraining',
 'used car'}

In [68]:
data[[
    'business',
 'domestic appliance',
 'education',
 'furniture/equipment',
 'new car',
 'other',
 'radio/tv',
 'repairs',
 'retraining',
 'used car'
]] = ohe.fit_transform(data[['purpose']]).toarray()

In [69]:
data.drop('purpose', axis = 1, inplace = True)

In [70]:
data

,duration,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,...,business,domestic appliance,education,furniture/equipment,new car,other,radio/tv,repairs,retraining,used car
0,6.0,1169.0,no known savings,>=7,4.0,male single,none,4.0,real estate,67.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,48.0,5951.0,<100,1<=X<4,2.0,female div/dep/mar,none,2.0,real estate,22.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,12.0,2096.0,<100,4<=X<7,2.0,male single,none,3.0,real estate,49.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,42.0,7882.0,<100,4<=X<7,2.0,male single,guarantor,4.0,life insurance,45.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,24.0,4870.0,<100,1<=X<4,3.0,male single,none,4.0,no known property,53.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12.0,1736.0,<100,4<=X<7,3.0,female div/dep/mar,none,4.0,real estate,31.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
996,30.0,3857.0,<100,1<=X<4,4.0,male div/sep,none,4.0,life insurance,40.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
997,12.0,804.0,<100,>=7,4.0,male single,none,4.0,car,38.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
998,45.0,1845.0,<100,1<=X<4,4.0,male single,none,4.0,no known property,23.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
999,45.0,4576.0,100<=X<500,unemployed,3.0,male single,none,4.0,car,27.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [71]:
data.dtypes

duration                          float64
credit_amount                     float64
savings_status                     object
employment                         object
installment_commitment            float64
personal_status                    object
other_parties                      object
residence_since                   float64
property_magnitude                 object
age                               float64
other_payment_plans                object
housing                            object
existing_credits                  float64
job                                object
num_dependents                    float64
own_telephone                      object
foreign_worker                     object
class                              object
all paid                          float64
critical/other existing credit    float64
delayed previously                float64
existing paid                     float64
no credits/all paid               float64
business                          float64
domestic appliance                float64
education                         float64
furniture/equipment               float64
new car                           float64
other                             float64
radio/tv                          float64
repairs                           float64
retraining                        float64
used car                          float64
dtype: object

In [72]:
for column, dtype in zip(data.dtypes.index, data.dtypes.values):
    if dtype == "object" and column != "class":
        unique_values = set(data[column])
        unique_values = list(unique_values)
        data[unique_values] = ohe.fit_transform(data[[column]]).toarray()
        data.drop(column, inplace = True, axis = 1)

In [73]:
data.dtypes

duration                          float64
credit_amount                     float64
installment_commitment            float64
residence_since                   float64
age                               float64
existing_credits                  float64
num_dependents                    float64
class                              object
all paid                          float64
critical/other existing credit    float64
delayed previously                float64
existing paid                     float64
no credits/all paid               float64
business                          float64
domestic appliance                float64
education                         float64
furniture/equipment               float64
new car                           float64
other                             float64
radio/tv                          float64
repairs                           float64
retraining                        float64
used car                          float64
>=1000                            float64
100<=X<500                        float64
<100                              float64
500<=X<1000                       float64
no known savings                  float64
<1                                float64
4<=X<7                            float64
>=7                               float64
unemployed                        float64
1<=X<4                            float64
male single                       float64
male div/sep                      float64
female div/dep/mar                float64
male mar/wid                      float64
guarantor                         float64
co applicant                      float64
none                              float64
life insurance                    float64
no known property                 float64
real estate                       float64
car                               float64
bank                              float64
stores                            float64
rent                              float64
for free                          float64
own                               float64
unskilled resident                float64
high qualif/self emp/mgmt         float64
unemp/unskilled non res           float64
skilled                           float64
yes                               float64
no                                float64
dtype: object

In [74]:
X = data.drop('class', axis = 1) # apart from class column all columns will be used as IV
y = data['class'] # only class will be used as DV

In [75]:
from sklearn.model_selection import train_test_split

In [76]:
xtrain, xtest, ytrain, ytest =  train_test_split(X, y , test_size=0.2)

In [77]:
from sklearn.linear_model import LogisticRegression

In [78]:
log_r = LogisticRegression()

In [79]:
log_r.fit(xtrain,ytrain)

C:\Users\thewa\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [80]:
ypred = log_r.predict(xtest)

In [81]:
from sklearn.metrics import accuracy_score

In [82]:
accuracy_score(ypred,ytest)

0.72

In [90]:
# help (LogisticRegression)

In [89]:
log_r = LogisticRegression(solver="liblinear")
log_r.fit(xtrain,ytrain)
ypred = log_r.predict(xtest)
accuracy_score(ypred,ytest)

0.725