In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("cell_samples.csv")

In [3]:
data.head()

,ID,Clump,UnifSize,UnifShape,MargAdh,SingEpiSize,BareNuc,BlandChrom,NormNucl,Mit,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           699 non-null    int64
 1   Clump        699 non-null    int64
 2   UnifSize     699 non-null    int64
 3   UnifShape    699 non-null    int64
 4   MargAdh      699 non-null    int64
 5   SingEpiSize  699 non-null    int64
 6   BareNuc      699 non-null    object
 7   BlandChrom   699 non-null    int64
 8   NormNucl     699 non-null    int64
 9   Mit          699 non-null    int64
 10  Class        699 non-null    int64
dtypes: int64(10), object(1)
memory usage: 60.2+ KB

In [5]:
data['BareNuc'] = data['BareNuc'].str.replace("?","0").astype('int')

C:\Users\thewa\AppData\Local\Temp\ipykernel_22956\692123269.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['BareNuc'] = data['BareNuc'].str.replace("?","0").astype('int')

In [6]:
data

,ID,Clump,UnifSize,UnifShape,MargAdh,SingEpiSize,BareNuc,BlandChrom,NormNucl,Mit,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [7]:
data.drop('ID', axis = 1 , inplace =True)

In [8]:
data

,Clump,UnifSize,UnifShape,MargAdh,SingEpiSize,BareNuc,BlandChrom,NormNucl,Mit,Class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...
694,3,1,1,1,3,2,1,1,1,2
695,2,1,1,1,2,1,1,1,1,2
696,5,10,10,3,7,3,8,10,2,4
697,4,8,6,4,3,4,10,6,1,4
698,4,8,8,5,4,5,10,4,1,4

In [9]:
data.columns

Index(['Clump', 'UnifSize', 'UnifShape', 'MargAdh', 'SingEpiSize', 'BareNuc',
       'BlandChrom', 'NormNucl', 'Mit', 'Class'],
      dtype='object')

In [10]:
X = data[['Clump', 'UnifSize', 'UnifShape', 'MargAdh', 'SingEpiSize', 'BareNuc',
       'BlandChrom', 'NormNucl', 'Mit']]

In [11]:
y = data['Class']

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size=0.2)

In [14]:
xtrain.shape

(559, 9)

In [15]:
xtest.shape

(140, 9)

In [16]:
from sklearn.svm import SVC

In [17]:
# help(SVC)

In [18]:
# {'linear', 'poly', 'rbf', 'sigmoid', 'precomputed'}

In [19]:
clf = SVC(kernel = "linear")

In [20]:
clf.fit(xtrain, ytrain)

SVC(kernel='linear')

In [21]:
ypred = clf.predict(xtest)

In [22]:
from sklearn.metrics import accuracy_score
accuracy_score(ypred,ytest)

0.9571428571428572

In [23]:
clf = SVC(kernel = "poly")
clf.fit(xtrain, ytrain)
ypred = clf.predict(xtest)
from sklearn.metrics import accuracy_score
accuracy_score(ypred,ytest)

0.9428571428571428

In [24]:
clf = SVC(kernel = "rbf")
clf.fit(xtrain, ytrain)
ypred = clf.predict(xtest)
from sklearn.metrics import accuracy_score
accuracy_score(ypred,ytest)

0.95

In [25]:
clf = SVC(kernel = "sigmoid")
clf.fit(xtrain, ytrain)
ypred = clf.predict(xtest)
from sklearn.metrics import accuracy_score
accuracy_score(ypred,ytest)

0.4

# Pca Implementation

In [26]:
from sklearn.decomposition import PCA

In [27]:
pca = PCA(n_components=2)

In [28]:
X

,Clump,UnifSize,UnifShape,MargAdh,SingEpiSize,BareNuc,BlandChrom,NormNucl,Mit
0,5,1,1,1,2,1,3,1,1
1,5,4,4,5,7,10,3,2,1
2,3,1,1,1,2,2,3,1,1
3,6,8,8,1,3,4,3,7,1
4,4,1,1,3,2,1,3,1,1
...,...,...,...,...,...,...,...,...,...
694,3,1,1,1,3,2,1,1,1
695,2,1,1,1,2,1,1,1,1
696,5,10,10,3,7,3,8,10,2
697,4,8,6,4,3,4,10,6,1
698,4,8,8,5,4,5,10,4,1

In [29]:
pca.fit_transform(X)

array([[-4.44184385,  0.13411818],
       [ 4.82782234, -4.84758345],
       [-4.60027285, -0.58214439],
       ...,
       [10.3283292 ,  7.20178104],
       [ 6.45019688,  2.47736368],
       [ 7.54068292,  1.16240842]])

In [30]:
Xtransformed = pca.fit_transform(X)

In [31]:
xtrain, xtest, ytrain, ytest =  train_test_split(Xtransformed, y, test_size=0.2)

In [32]:
xtrain.shape

(559, 2)

In [33]:
xtest.shape

(140, 2)

In [34]:
clf = SVC(kernel = "linear")
clf.fit(xtrain, ytrain)
ypred = clf.predict(xtest)
from sklearn.metrics import accuracy_score
accuracy_score(ypred,ytest)

0.9857142857142858