In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.svm import SVC
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('BBC News Train.csv')

In [3]:
data.head(5)

   ArticleId                                               Text  Category
0       1833  worldcom ex-boss launches defence lawyers defe...  business
1        154  german business confidence slides german busin...  business
2       1101  bbc poll indicates economic gloom citizens in ...  business
3       1976  lifestyle  governs mobile choice  faster  bett...      tech
4        917  enron bosses in $168m payout eighteen former e...  business

In [4]:
tfidf = TfidfVectorizer(max_features=5000, stop_words='english')
X = tfidf.fit_transform(data['Text'])

In [5]:
X.toarray()[:5]

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.02636814, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.0205217 , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [6]:
X.toarray().shape

(1490, 5000)

In [7]:
y = data['Category']

In [8]:
x_train, x_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [9]:
svc = SVC(kernel="linear")
svc.fit(x_train,y_train)

SVC(kernel='linear')

In [10]:
Y_pred=svc.predict(x_test)

In [11]:
accuracy_score(Y_pred,y_test)

0.9966442953020134

In [12]:
userArticle = ["Elon Musk plans to bought twitter for 44 Billion dollars"]

In [13]:
tranformed_userArticle = tfidf.transform(userArticle)

In [14]:
tranformed_userArticle.toarray()

array([[0., 0., 0., ..., 0., 0., 0.]])

In [15]:
predicted_topic = svc.predict(tranformed_userArticle)

In [16]:
predicted_topic

array(['business'], dtype=object)

In [17]:
userArticle = ["Tom Cruise is planning to work in next mission impossible movie"]
tranformed_userArticle = tfidf.transform(userArticle)
predicted_topic = svc.predict(tranformed_userArticle)
predicted_topic

array(['entertainment'], dtype=object)