In [2]:
#pass statement
def func():
    pass # creates a empty useless line

In [4]:
def display():
    print("Hello World!")
    return "India"
display()*2

Hello World!

'IndiaIndia'

In [6]:
def display():
    print("Hello World!")
print(display())

Hello World!
None

In [7]:
def display():
    print("Hello World!")
print(display()*2)

Hello World!

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [8]:
print(15)

15

In [9]:
15

15

## Variable length Keyword Arguments

In [15]:
def function(**kwargs):
    for k,v in kwargs.items():
        print(k,v)
function(a=1,b=2,c=3,d=4)

a 1
b 2
c 3
d 4

In [ ]:
#variable length positional arguments = get converted to tuple
#variable length keyword arguments = get converted to dictionary

## Lambda Functions

In [17]:
def square(n):
    return (n*n)
print(square(5))

25

In [19]:
cal_square=lambda n:n*n
print(cal_square(5))

25

## Zip functions

In [21]:
l1=[1,2,3]
l2=['a','b','c']

In [23]:
for i,j in zip(l1,l2):
    print(i,j)

1 a
2 b
3 c

In [24]:
for elem in zip(l1,l2):
    print(elem)

(1, 'a')
(2, 'b')
(3, 'c')

In [25]:
for i,j,k in zip(l1,l2,l1):
    print(i,j,k)

1 a 1
2 b 2
3 c 3

## Map function

In [28]:
l1=[1,2,3,4,5]
print(list(map(lambda x:x*x,l1))) #creating list of squares

[1, 4, 9, 16, 25]

In [29]:
type(map(lambda x:x*x,l1))

map

## Classes and Objects

In [31]:
#Class is the blueprint for objects

In [32]:
list1=[1,2,3]
list2=[4,5,6,7]
#created two instances of class "List" which are list1 and list2

In [33]:
#Objects of the same class will have the same attributes and same methods

In [37]:
class Student:
    name="XYZ"
S1=Student()
print(type(S1))
print(S1.name)

<class '__main__.Student'>
XYZ

In [34]:
#Classes contain two types of members:
#1) Data members
#2) Methods

In [42]:
S1=Student()
S2=Student()
S1.name="ABC"
Student.name="Mainak"
print(S1.name)
print(S2.name)

ABC
Mainak

## __init__() function/Constructor Function

In [46]:
class Student:
    schoolname='XYZ'
    def __init__(self,name,roll,standard):
        self.name=name
        self.roll=roll
        self.standard=standard
S1=Student("Mainak",23,12)
print(S1.schoolname,S1.name,S1.roll,S1.standard)

XYZ Mainak 23 12